
*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}

h3{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: white;
}

form{
    font-family: Roboto;
}

#flexear{
    display: flex;
    gap:20px
}

/* --------------------------Body----------------------*/

body{
    font-family: Stone Humanist SC;
    min-height: 900px;
    position: relative;
}

.supahcontenedor{
    padding-top:5% ;
}

.tituloEdi{
    font-family: Roboto;
    margin-top: 5%;
    text-align: Center;
    color: #c08e2d;
    font-size: 25px;
}

.edificios{
    display: grid;
    grid-template-columns: repeat(auto-fit,350px);
    margin-top: 3%;
    margin-left: 16%;
}


/*Le damos el tamaño a la tarjeta*/
.tarjeta{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

/*Imagenes de fondo de las tarjetas*/
.tarjeta__Sierra{
    background-image: url(../img/SierraNevada.jpg);
}

.tarjeta__mCaribe{
    background-image: url(../img/MarCaribe.jpg);
}

.tarjeta__Cienaga{
    background-image:url(../img/CienagaGrande.jpg) ;
}


.contenido{/*Lo que contiene el texto dentro de la tarjeta*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 10px;
    background:rgba(1, 1, 1, 0.5);
    transition: 0.4s;
}

.edificios a h1{ /*Texto dentro de las tarjetas*/
    color: white;
    margin-bottom: 5px;
}


.tarjeta:hover{
    transform: scale(1.1);
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++*/


/*---------------------TABLAS STYLES----------------------------*/

a{
    text-decoration: none;
    color: black;
}

table{
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgb(99, 99, 99);
}

th{
   background-color: #004a87;
   color:white;
}

.contenedor{
    font-family: Roboto;
    margin-top: 3%;
    display: grid;
    grid-template-columns: 70% 30%;
    margin-left: 5%;
    margin-right: 5%;
}

.tabla{
    margin-right: 5%;
}

.apartar{
    box-shadow: 1px 1px 5px rgb(98, 98, 98);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    padding: 20px;
    gap:20px;
    background-color: rgb(246, 246, 246);
    height: 150px;
    width: 100%;
}

.apartar h1{
    color: #c08e2d;
}

.formReserva{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}


.titulo{
    margin-top: 5%;
    padding-top: 3%;
    display: flex;
    justify-content: center;
    font-family: Stone Humanist SC;
    color:#c08e2d;
    font-size: 25px;
}

#reservar{
    border-radius: 5px;
    width: 100px;
    height: 20px;
    background-color: #004a87 ;
    color: white;
    font-weight: bold;
}

#reservar:hover{
    background-color: #1562a1;
}

#izq{
    border-top-left-radius: 10px;
}

#der{
    border-top-right-radius: 10px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*--------------------------FUENTES-----------------------------*/

@font-face {/*-------Antaro---------*/
    font-family: Antaro;
    src: url(../fuentes/Antaro.ttf);
}

@font-face {/*-------Stone Humanist SC---------*/
    font-family: Stone Humanist SC;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------ITCMedium---------*/
    font-family: ITCMedium;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------Roboto---------*/
    font-family: Roboto;
    src: url(../fuentes/roboto.regular.ttf);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and(max-width:800px) {
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 10px;
        padding: 10px 0px;
    
    }
}


@media (max-width:800px){
    header{
        flex-direction: column;
    }
    
    nav{
        padding:10px 0px;
    }

    .titulo{
        margin-top: 20%;
    }
}

@media (max-width:400px){
    .titulo{
        margin-top: 45%;
    }
}