/* ----------------Header----------------------*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;
}

h3{
    font-weight: normal;
}

a{
    text-decoration: none;
    color: black;
}

header{
    position:fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    display: flex;
    min-height: 70px;
    background-color: #004A87;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-family: Stone Humanist SC;
    box-shadow: 1px 1px 5px ;
}

#bloqIzq{
    margin-left: 30px;
}

#bloqDer{
    margin-right: 30px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 60px;
    margin-right: 10px;
}

nav a h3{
    font-weight: normal;
    font-family: Roboto;
}

.nombre-empresa{
    color:white;
}

#nombreArriba{
    font-size: 15px;
    font-weight: normal;
}

.opciones{
    display: flex;
}

nav div a{
    font-weight: 600;
    color: white;
}

.conteBotones{
    display: flex;
    padding: 15px 10px 15px 20px;
}

.conteBotones a h3{
    padding-left: 5px;
    float: right;
}

.conteBotones:hover a{
    color:#c08e2d;
}

body{
    font-family: Stone Humanist SC;
    min-height: 1000px;
    position: relative;
}

.edificios{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.edificios a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edificios a h1{
    color: #c08e2d;
    margin-bottom: 5px;
}

.tarjeta{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
}

.tarjeta__Sierra{
    background-image: url(../img/SierraNevada.jpg);
}

.tarjeta__mCaribe{
    background-image: url(../img/MarCaribe.jpg);
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    border-radius: 10px;
    background:rgba(1, 1, 1, 0.5);
    transition: 0.4s;
}


.tarjeta:hover{
    transform: scale(1.1);
}


.contenInfo{
    display: flex;
    gap: 20px;
}

.contenInfo h3{
    font-size: 25px;
}

#infoDer{
    float: right;
}


footer{
    overflow: hidden;
    width: 100%;
    background-color: #004A87;
    position: absolute;
    bottom: 0;
    font-family: Stone Humanist SC;
    box-shadow: 1px 1px 10px;
}

.grupo1{
    width: 100%;
    max-width: 700;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 50px;
    padding-top:20px;
    padding-bottom:20px;
    margin-left: 15%;
}

.pie-pagina .grupo1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo1 .box p{
    color: #efefef;
    margin-bottom: 10px;

}
.pie-pagina .grupo1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 50px;
    height: 50px; 
    line-height: 50px;
    color: white;
    margin-right: 10px;
    background-color: rgb(60, 60, 193);
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo1 .red-social a:hover{
    color: #c08e2d;
}

.pie-pagina .grupo2{
    background-color: #004A87;
    text-align: right;
    color: white;
}

.pie-pagina .grupo2 small{
    font-size: 15px;

}

/*---------------------TABLAS STYLES----------------------------*/

a{
    text-decoration: none;
    color: black;
}

table{
    border-radius: 10px;
    box-shadow: 1px 1px 5px;
}

th{
   background-color: #004a87;
   color:white;
}

.contenedor{
    font-family: Roboto;
    margin-top: 3%;
}

.tabla{
    margin-left: 20%;
    margin-right: 20%;
}


.titulo{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    padding-top: 3%;
    padding-left: 20px;
    font-family: Stone Humanist SC;
    color:#c08e2d;
    font-size: 25px;
}

#izq{
    border-top-left-radius: 10px;
}

#der{
    border-top-right-radius: 10px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/



/*--------------------------FUENTES-----------------------------*/

@font-face {/*-------Antaro---------*/
    font-family: Antaro;
    src: url(../fuentes/Antaro.ttf);
}

@font-face {/*-------Stone Humanist SC---------*/
    font-family: Stone Humanist SC;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------ITCMedium---------*/
    font-family: ITCMedium;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------Roboto---------*/
    font-family: Roboto;
    src: url(../fuentes/roboto.regular.ttf);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

@media screen and(max-width:800px) {
    .pie-pagina .grupo1{
        width: 90%;
        grid-template-columns:repeat(1,1fr);
        grid-gap: 10px;
        padding: 10px 0px;
    
    }
}

@media (max-width:800px){
    header{
        flex-direction: column;
    }
    
    nav{
        padding:10px 0px;
    }

    .titulo{
        margin-top: 20%;
    }
}

@media (max-width:400px){
    .titulo{
        margin-top: 45%;
    }
}