
*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;

}


a{
    text-decoration: none;
    color: white;
}

thead{
    background-color: #004A87;
    border-bottom: solid 5px;
    color: white;

}

tr:nth-child(){
    color:gray;
}
form{
    font-family: Roboto;
}

#flexear{
    display: flex;
    gap:20px
}
/* --------------------------Body----------------------*/
body{
    min-height: 1000px;
    position: relative;
    font-family: Stone Humanist SC;
}
table{
    
    width: 80%;
    border-collapse: collapse;
    box-shadow: 1px 1px 5px rgb(99, 99, 99);
    border-radius: 20px;
}

th,td{
    padding: 20px;
    border-radius: 1px solid gray;
}

.tablaUsuario{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-family: Roboto;
}
.historialReserva{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    margin-bottom: 20%;
}







/*--------------------------FUENTES-----------------------------*/

@font-face {/*-------Antaro---------*/
    font-family: Antaro;
    src: url(../fuentes/Antaro.ttf);
}

@font-face {/*-------Stone Humanist SC---------*/
    font-family: Stone Humanist SC;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------ITCMedium---------*/
    font-family: ITCMedium;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------Roboto---------*/
    font-family: Roboto;
    src: url(../fuentes/roboto.regular.ttf);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/