
*{
    padding: 0%;
    margin: 0%;
    box-sizing: content-box;

}


a{
    text-decoration: none;
    color: white;
}

thead{
    background-color: #004A87;
    border-bottom: solid 5px;
    color: white;
}

tr:nth-child(){
    color:gray;
}

form{
    font-family: Roboto;
}

#flexear{
    display: flex;
    gap:20px
}

/*--------------------------Body----------------------*/
body{
    min-height: 1000px;
    position: relative;
    font-family: Stone Humanist SC;
}
table{
    width: 80%;
    border-collapse: collapse;
    box-shadow: 1px 1px 5px rgb(99, 99, 99);
    border-radius: 20px;
}

th,td{
    padding: 20px;
    border-radius: 1px solid gray;
}

.tablaUsuario{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    width: 100%;
}
.historialReserva{
    margin-top: 13%;
    display: flex;
    justify-content: center;
    font-family: Roboto;
    
    width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
}

.modal__container{
    width: 90%;
    background-color: white;
    margin:auto;
    max-width: 600px;
    max-height: 600px;
    border-radius: 6px;
    padding: 3em 2.5em;
    display:grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
}


.modal--show{
    opacity: 1;
    pointer-events: unset;
    transition: .6s;
}


.modal__container{
    width: 90%;
    max-width: 600px;
    max-height: 90%;
    border-radius: 6px;
    padding: 3em 2.5em;
    background-color: #fff;
    margin: auto;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition: .6s;
}

.modal__title{
    margin-bottom:20px;
}


.izq{
    display:flex;
    flex-direction:column;
    float:left;
    margin-right:20px;
    gap:5px;
}

.der{
    display:flex;
    flex-direction:column;
    float:right;
    gap:5px;
}

#modificar{
    margin-top:20px;
    border-radius:20px;
    background-color: #004A87;
    color:white;
    width:40%;
    height: 20px;
}


.modal_close{
    text-decoration: none;
    color:  white;
    background-color: #004A87;
    padding: 1em 3em;
    border: 1px solid white;
    display: inline-block;
    font-weight: bold;
    transition: background-color .3s; 
}
/*--------------------------------------------------------------*/
.contieneInput{
    grid: 100%;
    align-items: left;
    display: flex;
    margin-bottom: 20%;

}

#ELIMINAR{
    background-color: #004A87;
    cursor: pointer;
    border: none;
    padding: 16px 32px;
    color:white;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    border-radius: 12px;
}

/*--------------------------FUENTES-----------------------------*/

@font-face {/*-------Antaro---------*/
    font-family: Antaro;
    src: url(../fuentes/Antaro.ttf);
}

@font-face {/*-------Stone Humanist SC---------*/
    font-family: Stone Humanist SC;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------ITCMedium---------*/
    font-family: ITCMedium;
    src: url(../fuentes/StoneSansOSITCTTMedium.ttf);
}

@font-face {/*-------Roboto---------*/
    font-family: Roboto;
    src: url(../fuentes/roboto.regular.ttf);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++*/